.chart {
    max-width:800px;
    width:100vw
}
.chart input {
    width:30%;
}

#vos_one_spanish {
    width:14%;
}
#vos_two_spanish {
    width:14%;
}

#mandato_header {
    background-color: gray;
    color:black;
}

#mandato_ingles {
    background-color: gray;
    color:black;
}

#mandato_spanish {
    background-color: gray;
    color:black;
}
#sujeto {
    background-color: grey;
    color:black;
}
