.chart {
    max-width:800px;
    width:100vw
}
.chart input {
    width:28%;
}

#vos_one_spanish {
    width:13%;
}
#vos_two_spanish {
    width:13%;
}

#mandato_header {
    background-color: gray;
    color:black;
}

#mandato_ingles {
    background-color: gray;
    color:black;
}

#mandato_spanish {
    background-color: gray;
    color:black;
}
#sujeto {
    background-color: grey;
    color:black;
}


#Check {
    background-color: #69E68F;
}

#Clear {
    background-color: #D38F8F;
}
